#navimage { margin: 20px; 
}

.navlinks { margin-left: 40px;

}

#heroimage { margin-right: 40px;

}

.subbanner { margin: 46px;

}

#featuredsectionbanner { margin-right: 200px;
}

#textarea { padding:6em;

}

#button { background-color: blue;

}

#footerimage {color:red

}