

.navlinks {  margin: 0px 50px 0px 150px;
} 

#navimage { margin-top:50px;
 
}

#heroimage { margin-right: 40px;

}

.subbanner { margin: 46px;

}

#featuredsectionbanner { margin-right: 200px;
}

#textarea { padding:6em;

}

#button { background-color: blue;

}

#footerimage {color:red

}